<%= form_with(model: @comment, url: blog_comment_path) do |form| %>

  <div class="field">
    <%= form.label :コンテンツ %>
    <div class = "b_field"><%= form.text_area :content %></div>
  </div>

  <div class="actions">
    <div class = "b_field"><%= form.submit %></div>
  </div>
<% end %>