/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.css
 *= require_tree .
 *= require_self
 */

.top{
     float:left;
     width: 100px;
     color:white;
 }
 
/* .header_m{*/
/*     float:right;*/
/*     width: 100px;*/
/* }*/

/*.top li a{*/
/*     line-height:50px;*/
/*     color:white;*/
/*     font-size:15px;*/
/* }*/
 
/* .header_m li a{*/
/*     color:white;*/
/*     line-height:50px;*/
/*     font-size:15px;*/
/* }*/
 
 footer{
  left: 0px;
  bottom: 0;
  height: 6em;
  position: absolute;
 }
 
 body{
     margin:0px;
     margin-bottom: 5em;
 }
 
 html {
  min-height: 100%;
  position: relative;
}
 
 .dem{
  margin:0 auto;
}

