.edit_delete a{
    color:black;
}

.cc_time{
    text-align: left;  /* 文章を左寄せする(※) */
    float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
    margin-left:0%1%
}

.c_ed_menu{
    text-align: right;
}

.field{
    text-align:left;
}

.comment_label label{
    color:black;
}