header {
  width: 100%;
  color: white;
}

// header ul {
//   margin: 0 auto;
//   list-style: none;
//   color: white;
// }

// header ul a {
//   display: block;
//   padding: 15px;
//   text-decoration: none;
//   color: white;
// }



// header ul:after {
//   content: "";
//   display: block;
//   clear: both;
// }

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 30px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: image-url("top.jpg") center center / cover no-repeat fixed;
  max-width: 100%;
	height: auto;
}

.about{
  color: white;
  text-align:center;
  line-height:1.5;
}

// a:visited{
//   color:black;
// }

.theme{
  font-size:48px;
  text-indent: 2em;
  line-height:1.5;
}

.subtheme{
  font-size:36px;
}

.logo{
  margin-top: 15%;
}

.new_user_enter a{
  font-size:16px;
  color: white;
}

.alert-m{
  color: white;
  text-align:center;
}