.field_image{
    text-align:center;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

.bottom_space{
    padding-bottom: 10%;
    text-align:center;
    color:white;
}

.field{
    padding-top: 1%;
    text-align: center;
    color:white;
}

.actions{
  padding-top: 1%;
  text-align: center;
}

.body{
  text-align: center;
}

.input{
  text-align: center;
}

.field_back{
  text-align: center;
  padding-bottom:3%;
}

.b_field{
  color:black;
}

#dem{
  margin:0 auto;
}