<p>ようこそ、 <%= @resource.email %>!</p>

<p>パスワード変更の要求を受け付けました。下記のリンクからお手続きをお願いします。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード変更を行なっていない場合はこちらのメールは無視して下さい。</p>
<p>上記のリンクにアクセスして手続きを完了しないと、パスワードは変更されません。</p>
